doctype html
html
  head
  script(src='/js/jquery-3.2.1.js')
  script(src='/js/view.js')
  title Container Monitor Center

  body
  h1 Container Monitor Center

  h2 Sensors
    ul(id='sensors-list')
        each val in sensorsData
            li Sensor: #{val.key} 
                a(id='s'+val.key) !{JSON.stringify(val.value)}

  h2 Active alarms
    ul(id='alarms-list')
        each val in alarms
            li(id='s'+val.key+'full') Alarm: #{val.key} 
                a(id='a'+val.key) !{JSON.stringify(val.value)}

  



